@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

nav {
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  position: fixed;
  bottom: 0;
}

nav a, nav a:visited, nav a:active {
  text-decoration: none;
}

.navItem {
  width: 20%;
  float: left;
  color: #072448;
  height: 80px;
  text-align: center;
  position: relative;
  bottom: 0;
  background: #fff;
  padding: 10px 0;
}

.navItem img {
  width: 40px;
  margin-top: 5px;
  height: auto;
}

#efficacy, #safety, #mechanism, #dosing {
  width: calc(20% - 1px);
  border-left: 1px solid #e0e0e0;
}

.navItem.active {
  background: #e0e0e0;
  margin: -20px 0 0 0;
  border-top: solid 20px #e0e0e0;
}

.navTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  height: 80px;
  line-height: 110px;
  text-transform: capitalize;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.ttf") format("opentype");
}
@font-face {
  font-family: 'Fira Sans Bold';
  src: url("../fonts/FiraSans-Bold.ttf") format("opentype");
}
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-backface-visibility: hidden;
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #072448;
  font-family: "Fira Sans", sans-serif;
  font-size: 19px;
  color: #333;
  width: 100%;
  height: 100%;
  line-height: 1.6em;
}

.overlay {
  position: fixed;
  background: #072448;
  z-index: 999999;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

a, a:active, a:visited {
  text-decoration: none;
}

.padding40 {
  padding-bottom: 40px;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
}

.app a img {
  border: 0;
}

.app img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.7em;
  margin: 0px;
  margin: 30px;
  color: #fff;
  	/*
    text-shadow:
     -1px -1px 0 $gray,  
      1px -1px 0 $gray,
      -1px 1px 0 $gray,
       1px 1px 0 $gray;
  	*/
  text-transform: uppercase;
}

h1 .strong {
  font-family: 'Fira Sans Bold';
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0px;
  margin: 30px;
  color: white;
}

p {
  margin: 30px;
}

.textCentered {
  text-align: center;
}

.placeholder {
  background: url(../img/placeholder.png) no-repeat center center #f0f0f0;
  position: relative;
}

.spacer {
  height: 95px;
  width: 100%;
  clear: both;
}

.clear {
  clear: both;
}

.darkText {
  color: #333;
  text-shadow: none;
}

.whiteText {
  color: #fff;
  text-shadow: none;
}

.blueText {
  color: #072448;
  text-shadow: none;
}

.logo {
  margin: 30px auto;
  width: 168px;
}

.banner {
  width: 614px;
  margin: 30px auto;
}

.button {
  margin: 30px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  background: #072448;
  color: #fff;
  text-align: center;
}

.centered {
  margin: 30px auto;
}

.noMargin {
  margin: 0;
}

.standardMargin {
  margin: 30px;
}

.doubleMargin {
  margin: 60px;
}

.mainContent {
  margin: 1%;
}

.mainContentItem {
  width: 31.33%;
  margin: 1%;
  height: 185px;
  background-position: top 10px center;
  float: left;
  position: relative;
}

#safetyScreen, #indicationScreen {
  display: none;
  width: 100%;
  height: 100%;
  margin: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 150px;
  padding-bottom: 200px;
}

#safetyInfo, #indication {
  height: 270px;
  position: relative;
}

#safetyInfo {
  background: url(../img/home-prescriptions.jpg) no-repeat;
  background-size: cover;
}

#indication {
  background: url(../img/home-patients.jpg) no-repeat;
  background-size: cover;
}

.two {
  width: 48%;
  margin: 1%;
  height: 200px;
  float: left;
  position: relative;
}

.gridItemTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(7, 36, 72, 0.85);
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  font-size: 1.15em;
  color: #f0f0f0;
}

td {
  background: rgba(255, 255, 255, 0.7);
}

th, td {
  padding: 15px;
  font-size: .9em;
}

th {
  background-color: #072448;
  height: 40px;
  line-height: 40px;
}

tr {
  border-bottom: white 2px solid;
}

.videoWrapper {
  width: 580px;
  height: 300px;
  float: left;
  margin: 0 30px;
}
