// Design
$width: 410px;
$link-color: #666;
$margin: 0 10px 10px 30px;

input, select {
	width: $width;
	height: 35px;
	line-height: 35px;
	background: #fff;
	border: 1px solid #e0e0e0;
	margin: $margin;
	padding-left: 10px;
    -webkit-border-radius:0; 
    border-radius:0;
	-webkit-appearance: none;
	color: #666;
	font-size: 13px;
}
select{
	    height: 40px;
    width: 423px;
}